@tailwind base;
@tailwind components;
@tailwind utilities;

@media not all and (min-width: 720px) {
  .mmh {
      display: none;
  }
  .mmflx {
      display: flex;
  }
  .max-w-full {
      width: 100%;
  }

  .max-md-hidden {
      display: none;
  }
}

.max-w-64s {
    max-width: 6rem/* 256px */;
}